img[src*='#centerme'] {
    display: block;
    margin: auto;
    width: 200px
}
img[src*='-w200'] {
    width: 200px
}

img[src*='-w400'] {
    width: 400px
}

img[src*='-w30p'] {
  width: -webkit-calc((#{$content-width} / 3 ) - #{$spacing-unit});
  width:         calc((#{$content-width} / 3 ) - #{$spacing-unit});
  max-width: -webkit-calc((#{$content-width} / 3 ) - #{$spacing-unit});
  max-width:         calc((#{$content-width} / 3 ) - #{$spacing-unit});
}
